@cnma:registry=https://pkgs.dev.azure.com/conarumdc/_packaging/cdk-npm/npm/registry/
always-auth=true
//pkgs.dev.azure.com/conarumdc/_packaging/cdk-npm/npm/registry/:username=conarumdc
//pkgs.dev.azure.com/conarumdc/_packaging/cdk-npm/npm/registry/:_password=Q0tXYVN6VFJWaElIWWZ6d0RpYXlBVHdCZE1CSzlVcUZNRkgzVXRsZUZJNm8zaTY0U0N2cEpRUUo5OUNCQUNBQUFBQWpjanlvQUFBU0FaRE8yMzNi
//pkgs.dev.azure.com/conarumdc/_packaging/cdk-npm/npm/registry/:email=hieu.ngoxuan@conarum.com
install-links=true